<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-brand">Shopify</div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a href="{{ path('admin_homepage') }}" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="{{ path('add_product') }}" class="nav-link">Add product</a>
                    </li>
                    <li>
                        <a href="{{ path('add_category') }}" class="nav-link">Add category</a>
                    </li>
                {% elseif is_granted("ROLE_CUSTOMER") %}
                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('customer_orders') }}" class="nav-link">Orders</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('homepage') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('budget_search') }}" class="nav-link">Budget search</a>
                    </li>
                {% endif %}
            </ul>

            {% if app.user %}
                <div>Welcome, {{ app.user.firstName }} {{ app.user.lastName }}</div>
            {% endif %}

            <ul class="navbar-nav ml-auto">
                {% if is_granted("ROLE_CUSTOMER") %}
                    <li class="nav-item">
                        <a href="{{ path('account_details') }}" class="nav-link">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart') }}">The cart</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login/Register</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}


{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="alert alert-warning">
        {{ message }}
    </div>
{% endfor %}

<style>
    body {
        background-color: #212121;
        color: white;
    }
</style>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
